# =============================================================================
# Dev Environment - Sensitive Secrets
# =============================================================================
# DO NOT commit this file to Git!
# Copy secrets.auto.tfvars.example → secrets.auto.tfvars and fill in values
# =============================================================================

mongodb_root_password   = "CHANGE_ME_MongoDB_Root_Password"
mongodb_replica_set_key = "CHANGE_ME_ReplicaSet_Key"
kafka_sasl_password     = "CHANGE_ME_Kafka_SASL_Password"
redis_password          = "CHANGE_ME_Redis_Password"
grafana_admin_password  = "CHANGE_ME_Grafana_Admin"
bff_jwt_secret          = "CHANGE_ME_JWT_Secret_At_Least_32_Chars"
